<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>代码终结者</title>


    <!--bootstrapcdn-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
    <!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"  ></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"  ></script>-->

    <!--jquery-->
    <!--<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->


    <!--引入 element-ui 的样式，-->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.11.1/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <!--vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->


    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <!--lodash-->
    <script  src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <!--<script  src="https://cdn.bootcdn.net/ajax/libs/lodash.js/4.17.15/lodash.js"></script>-->


    <!--codemirror-->
    <script  src="https://cdn.jsdelivr.net/npm/codemirror@5.41.0/lib/codemirror.min.js"></script>
    <script  src="https://cdn.jsdelivr.net/npm/codemirror@5.41.0/mode/javascript/javascript.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.41.0/lib/codemirror.min.css">
    
    
    
    <!--axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <style>
        .el-card .el-row{
            margin-bottom: 5px;
        }
        .el-input{
            font-family: "Microsoft YaHei UI";
        }, 
    </style>
</head>
<body>
<div  id="app">
<el-card>
    <el-row>
    <h3 >批处理</h3>
    </el-row>
    <el-row :gutter="20" >
        <el-col :span="18">
            <el-input v-model="quick"    type="textarea" :rows="2"  placeholder="快速">{
            </el-input>
        </el-col>
        <el-col :span="6">
            <el-button  type="primary" @click="quickAdd()">快速添加</el-button>
        </el-col>
    </el-row>

    <template v-for="(item, index)  in kvs"  >
        <el-row  :gutter="20">
                <el-col :span="6"> <el-input   v-model.lazy="item.key" placeholder="请输入字段"></el-input></el-col>
                <!--<el-col :span="6"> <el-input v-model:value="item.value" placeholder="请输入类型"></el-input></el-col>-->
                <el-col :span="6">
                    <el-select  v-model.lazy ="item.value" placeholder="请选择">
                        <el-option
                                v-for="(itm,index)  in select"
                                :key="select[index]"
                                :label="select[index]"
                                v-model:value="select[index]">
                        </el-option>
                    </el-select>
                    <el-button type="danger" icon="el-icon-delete sm"  @click="del(item.key)"  circle></el-button>
                </el-col>
                <el-col :span="1">
                        </el-col>
        </el-row>
    </template>
    <el-row >
        <el-button  type="primary" @click="add()">添加</el-button>
        <el-button  type="primary" @click="ok()">OK</el-button>
    </el-row>

    <el-row>
        <el-col :span="18">
            <el-input v-model="result"  name="result" type="textarea" :rows="8"  placeholder="结果">
            </el-input>

        </el-col>
    </el-row>
   
</el-card>
<el-card>
     <el-row>
     <h3 >替换</h3>
	 <span style="height:20px">快速选中模板</span>
		<el-tag style="margin-left:5px"
		  v-for="(item, index)  in blist" 
		  closable
           @click="bclick(item)" @close="bdelete(index)" >
		   {{item.name}}&nbsp;
		</el-tag>
    </el-row>
	 <el-row :gutter="20" >
          <el-input   v-model="b01"    type="textarea" :rows="2"  placeholder="模板"></el-input> 
    </el-row> 
	
	 <el-row :gutter="20" >
	 <el-input    v-model="b02" placeholder="替换前"></el-input>
	 </el-row> 
	  <el-row :gutter="20" >
	   <el-input v-model="b03"  type="textarea" :rows="8"  placeholder="替换后"></el-input>
	 </el-row> 
	  <el-row :gutter="20" >
	   <el-button  type="primary" @click="bok()">确定</el-button> <el-button  type="primary" @click="bsave()">保存</el-button> 
	   <!-- <el-button  type="primary" @click="bclean()">清空缓存</el-button> -->
	 </el-row> 
	 
	  <el-row :gutter="20"> 
         <el-input v-model="b04"  type="textarea" :rows="8"  placeholder="结果"></el-input>		
	  </el-row>
	  
	  <el-row>
	  <h3 >{{hitokoto}}</h3>
	  </el-row>
</el-card>

</div>

<script>

    String.prototype.replaceAll = function (o,n) {
        return this.replace(new RegExp(o,'g'),n);
    };
    var app = new Vue({
        el: '#app',
        data: {
            select:["string","int?","DateTime","DataRowView","DataTable","bool?"],
            kvs:[
                {key:"",value:"string"}
            ],
            tmp:`        private #TYPE# #KSM#;
        public #TYPE# #KEY#
        {
            get { return #KSM#; }
            set
            {
                #KSM# = value;
                this.RaisePropertyChanged("#KEY#");
            }
        }`,
            key:"Typename",
            type:"string",
            result:"",
            quick:"",
            
            
            hitokoto:'', 
            b01:'', b02:'',b03:'',b04 :'',
			blist:[
					  {
						"name": "DataGrid列",
						"data": {
						  "b01": "   <!--  AAA  -->\n   <DataGridTextColumn\n                                Width=\"auto\"\n                                MinWidth=\"100\"\n                                MaxWidth=\"200\"\n                                Binding=\"{Binding BBB}\"\n                                Header=\"{DynamicResource CCC}\" />",
						  "b02": "AAA,BBB,CCC",
						  "b03": "内部编号,INNER_NUMBER,Lang.InternalNumber\n内部编号,INNER_NUMBER,Lang.InternalNumber"
						}
					  },
					  {
						"name": "字典",
						"data": {
						  "b01": " <sys:String x:Key=\"Lang.CCC \">AAA</sys:String>",
						  "b02": "CCC,AAA",
						  "b03": "InternalNumber,内部编号"
						}
					  },
					  {
						"name": "表单生成",
						"data": {
						  "b01": "<!--  AAA  -->\n  <Label\n                                Grid.Row=\"RR\"\n                                Grid.Column=\"CC\"\n                                HorizontalAlignment=\"Right\"\n                                Content=\"{DynamicResource LANG}\" />\n                            <TextBox\n                                Grid.Row=\"XX\"\n                                Grid.Column=\"YY\"\n                                Margin=\"0,3\"\n                                IsReadOnly=\"True\"\n                                Text=\"{Binding ParaRow[FF]}\" /> \n",
						  "b02": "AAA,RR,CC,LANG,XX,YY,FF",
						  "b03": "内部编号\t1\t0\tLang.InternalNumber\t1\t1\tINNER_NUMBER\n条码\t1\t2\tLang.BarCode\t1\t3\tBARCODE\n批次号\t1\t4\tLang.BatchNumber\t1\t5\tBATCH_NUMBER\n订单来源\t2\t0\tLang.OrderSource\t2\t1\tSOURCE\n备注1\t2\t2\tLang.Memo1\t2\t3\tMEMO1\n备注2\t2\t4\tLang.Memo2\t2\t5\tMEMO2\n备注3\t3\t0\tLang.Memo3\t3\t1\tMEMO3\n备注4\t3\t2\tLang.Memo4\t3\t3\tMEMO4\n备注5\t3\t4\tLang.Memo5\t3\t5\tMEMO5\n创建人\t4\t0\tLang.Created\t4\t1\tCREATE_USER\n创建日期\t4\t2\tLang.CreateDate\t4\t3\tCREATE_DATE\n修改人\t4\t4\tLang.ModifiedPerson\t4\t5\tMODIFY_USER\n修改日期\t5\t0\tLang.ModifyDate\t5\t1\tMODIFY_DATE\n接货状态 \t5\t2\tLang.ReceivingStatus\t5\t3\tACCEPT_STATUS\n入库类型 \t5\t4\tLang.StorageType\t5\t5\tTYPE\n货物类型 \t6\t0\tLang.CargoType\t6\t0\tSTORAGE_ITEM_TYPE\n"
						}
					  }
					]
        },
        methods:{
          ok(){ 
              this.result = ''
              this.kvs.forEach(i=>{
                  let KSM = '_'+_.camelCase(i.key)
                  this.result += this.tmp.replaceAll("#TYPE#" ,i.value).replaceAll("#KSM#",KSM).replaceAll("#KEY#",_.capitalize(i.key))+"\r\n"
              });
          },
            add(){
              this.kvs.push(
                  {key:"",value:"string"}
              )
            },
            del(key){ 
                this.kvs.forEach(i=>{
                     if((i.key)==key){
                         this.kvs.pop(i)
                    }
                });
                // delete this.kvs[idx]
            },
            quickAdd(){
              this.kvs = []
              let r = this.quick.split("\n")
                r.forEach(i=>{
                    this.kvs.push(
                        {key:i,value:"string"}
                    )
                })
                this.result = ''
                this.kvs.forEach(i=>{
                    let KSM = '_'+_.camelCase(i.key)
					let property = i.key.charAt(0).toUpperCase() + i.key.slice(1)
                    this.result += this.tmp.replaceAll("#TYPE#" ,i.value).replaceAll("#KSM#",KSM).replaceAll("#KEY#",property)+"\r\n"
                });

            },
            bok(){ 
			  this.b04=''
              var result = '' 
              var wds = this.b02.split(/["," ","\t" ]/ )
              let r = this.b03.split("\n")
             
                r.forEach(item=>{ 
                    let rr = item.split(/["," ","\t" ]/ ) 
               
                    if(wds.length!=rr.length){ 
                        result = result+ "请确认参数个数"+"\n"
                    }else{
                    	var tmp = this.b01
                    	for (var i = 0; i < rr.length; i++) { 
                    		console.log(wds[i],rr[i])
	                    	tmp = tmp.replaceAll(wds[i],rr[i]) 
	                    	
	                    }
						result = result+ tmp +"\n"
                    }
                });
               this.b04 = result 
               
            },
			bsave(){ 
			    this.$prompt('请输入保存的名称', '提示', {
				  confirmButtonText: '确定',
				  cancelButtonText: '取消',
				 // inputPattern: /[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/,
				 // inputErrorMessage: '邮箱格式不正确'
				}).then(({ value }) => { 
				     this.blist.push(
						{
						'name':value,
						'data':
							{
								b01:this.b01,
								b02:this.b02,
								b03:this.b03
							}
						}
					 ) 
					 localStorage.setItem('blist',JSON.stringify(this.blist)) 
				}).catch(() => {
				  this.$message({
					type: 'info',
					message: '取消'
				  });       
				});
		
			   
			},
			bclick(item){ 
			  this.b01 = item.data.b01
			  this.b02 = item.data.b02
			  this.b03 = item.data.b03
			},
			bdelete(index){ 
			   this.blist.splice(index, 1);  
			   localStorage.setItem("blist", JSON.stringify(this.blist))
			},
			bclean(){  
			         this.$confirm('确认晴空？')
					  .then(_ => {
						localStorage.removeItem('blist')
						this.blist = []
					  })
					  .catch(_ => {});
					   
			   
			}
        },
        created () {
		  //this.blist = [{'name':'我的','data':{b01:'12',b02:'1,2',b03:'AA,BBB'}},{'name':'他的','data':{b01:'12',b02:'1,2',b03:'AA,BBB'}}]
		  
		  if(localStorage.getItem('blist')){
		    //this.blist = JSON.parse(localStorage.getItem('blist'))
		    _.merge( this.blist,JSON.parse(localStorage.getItem('blist')) )
		  } 
          axios
            .get('https://international.v1.hitokoto.cn/')
            .then(response => (  this.hitokoto = response.data.hitokoto))
            .catch(function (error) { // 请求失败处理
              console.log(error);
            });
        },

        // created(){
        //     let editor = CodeMirror.fromTextArea(document.getElementById("result"), {
        //         mode: 'javascript', //设置编译器编程语言关联内容，需要引入mode/javascript/javascript.js
        //         lineNumbers: true, //显示行号
        //         smartIndent: true, //自动缩进是否开启
        //         indentUnit: 4, //缩进单位
        //         theme: 'monokai', //设置主题
        //         styleActiveLine: true, //设置光标所在行高亮，需要引入addon/selection/active-line.js
        //         keyMap: 'sublime', // 快捷键，default使用默认快捷键，除此之外包括emacs，sublime，vim快捷键，使用需引入工具,keymap/sublime.js
        //         extraKeys: {'Ctrl-Q': 'autocomplete'}, //设置快捷键
        //     });
        // }

    })


</script>
</body>
</html>
